@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');
:root {
    --black: #000000;
    --white: #ffffff;
    --primary: #df2394;
    --secondary: #704cfb;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", Arial, sans-serif, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: var(--black);
    background-color: var(--white);
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
/* Navbar */
header {
    font-family: "Fredoka", Arial, sans-serif, serif;
    padding: 3rem 1rem 1rem;
    background-color: var(--secondary);
    background-image: url('../img/Wave-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    margin: 0 0 3rem;
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}
nav ul {
    display: flex;
    gap: 0 20px;
}
nav li {
    list-style-type: none;
}
nav a {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;
}
header h1 span {
    display: block;
}
/* Footer */
footer {
    margin-top: 3rem;
    padding: 1.5rem 0 1rem;
    background-color: var(--secondary);
}
footer ul {
    display: flex;
    justify-content: center;
    gap: 0 20px;
}
footer li {
    list-style-type: none;
    padding: 0;
}
footer a {
    font-size: 2rem;
    color: var(--white);
}
/* Homepage */
main .container {
    max-width: 450px;
}
.welcome img {
    display: block;
    max-width: 450px;
    width: 100%;
    margin: 0 auto 1.5rem;
}
.info {
    margin-bottom: 1.5rem;
}
.mini-info {
    margin-bottom: 1rem;
}
.section-title {
    display: table;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--white);
    padding: .35rem 1.5rem .5rem;
    border-radius: 18px;
    background-color: var(--primary);
}